localhost :80, :443 {
	root * ./frontend/.next

	# Rate-limited backend API routes
	handle /api/login {
		rate_limit {
			zone login {
				match {
					method POST OPTIONS
				}
				key {remote_host}
				events 5 # 5 requests
				window 1m # in 1 minute window 
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	handle /api/register {
		rate_limit {
			zone register {
				match {
					method POST OPTIONS
				}
				key {remote_host}
				events 2
				window 1m
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	handle /api/addPost {
		rate_limit {
			zone addPost {
				match {
					method POST OPTIONS
				}
				key {remote_host}
				events 10
				window 1m
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	handle /api/getPosts {
		rate_limit {
			zone getPosts {
				match {
					method GET OPTIONS
				}
				key {remote_host}
				events 60
				window 1m
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	handle /api/profile {
		rate_limit {
			zone getPosts {
				match {
					method GET OPTIONS
				}
				key {remote_host}
				events 30
				window 1m
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	handle /api/logout {
		rate_limit {
			zone getPosts {
				match {
					method POST OPTIONS
				}
				key {remote_host}
				events 20
				window 1m
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	handle /api/addGroup {
		rate_limit {
			zone getPosts {
				match {
					method POST OPTIONS
				}
				key {remote_host}
				events 5
				window 1m
			}
		}
		reverse_proxy {$BACKEND_API}
	}

	# Other backend API routes (without rate limiting)
	handle /api/* {
		reverse_proxy {$BACKEND_API}
	}

	# Serve Next.js static files
	file_server /_next/static/* {
		root ./frontend/.next
	}

	# Serve public folder files
	file_server /public/* {
		root ./frontend/public
	}

	# Default: proxy everything else to Next.js
	handle {
		reverse_proxy {$FRONTEND_API}
	}
}
